/* resets */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
  filter: grayscale(100%);
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

html {
  height: 100%;
  font-size: clamp(16px, 2.5vw, 20px);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 1vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code,
pre {
  font-family: monospace;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  font-family: "Choi Jeongho Screen", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  word-break: keep-all;
  color: black;
  background-color: white;
  cursor: default;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, white, whitesmoke 75%);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* begin */

body {
  padding: 1.5em;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

header,
main {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-size: 1.15em;
  font-weight: bold;
  text-transform: lowercase;
}

header,
footer {
  height: 45svh;
}

header h1 {
  text-transform: lowercase;
}

header h1,
#changing-description {
  font-weight: bold;
}

#changing-description {
  opacity: 0.35;
  /* transition: opacity 2s; */
}

/* .fade-in {
  opacity: 0.35;
} */

main .container ul.index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.75em;
}

main .container ul.index li {
  aspect-ratio: 1;
}

figure.card {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%;
  background-color: black;
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  -webkit-backdrop-filter: blur(.25rem);
  backdrop-filter: blur(0.15rem);
  opacity: 0;
  transition: opacity .125s;

  background-color: rgba(146, 147, 147, .85);
  color: white;
  letter-spacing: 0.015em;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-image img {
  object-fit: cover;
  filter: grayscale(100%);
  width: 100%; 
  height: 100%;
}

.card.is-active .card-text,
.card:hover .card-text {
  opacity: 1;
}

.card-text div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  color: white;
}

footer {
  height: 30svh;
  font-size: 0.75em;
}

footer .container,
footer p {
  height: 100%;
}

footer p {
  display: flex;
  align-items: flex-end;
}

footer a {
  text-decoration: underline;
}

/* article */

article {
  font-family: serif;
  font-weight: normal;
}

article p {
  margin: 1em 0;
}

article p:first-of-type {
  margin-top: 0;
}

article ul {
  list-style-type: circle;
  margin-left: 1em;
}

article li {
  padding-left: 0.25em;
}

article h2 {
  margin-bottom: 1em;
}

article .columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.75em;
}

article figure {
  margin: 2em 0;
}

article figcaption {
  font-size: 0.75em;
}

article a {
  text-decoration: underline;
  transition: all 0.25s ease;
}

article a:hover {
  background-color: rgba(146, 147, 147, .25);
}

/* media queries */

@media screen and (max-width: 850px) {

  main .container ul.index {
    grid-template-columns: 1fr 1fr;
  }

  article .columns {
    display: block;
  }

}

@media screen and (max-width: 450px) {
  main .container ul.index {
    grid-gap: 0.5em;
  }
}